body{
    margin: 0px;
}
html a{
    text-decoration: none;
}
.logo a{
    text-decoration: none;
    color: black;
}
a{
    color: black;
}
header{
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    height: 4vw;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
}
.logotip{
    height: 3vw;
    width: 3vw;
}
.logo{
    display: flex;
    align-items: center;
    width: 65%;
    font-size: clamp(0.25rem, 1.3vw, 1.7vw);
    font-family: "Inter", sans-serif;
    gap: 1%;
    font-weight: bold;
    
}
.logo_text{
    transition: transform 0.1s ease;
}
.logo_text:hover{
    color: #f34e1e;
}
.menu1{
    display: flex;
    align-items: center;
    width: 30%;
    gap: 25%;
    font-size: clamp(0.15rem, 1.3vw, 1.7vw);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    transition: transform 0.3s ease;
}
.a_menu1{
    transition: transform 0.3s ease;
}
.a_menu1:hover{
    transform: scale(110%);
}
.registr{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #e4cdba;
    font-size: clamp(0.15rem, 1.3vw, 1.7vw);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    height: 60%;
    width: 5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    transition: transform 0.3s ease;
}
.registr:hover{
    transform: scale(110%);
}
.up{
    width: vw;
    height: 3vw;
    width: 3vw;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100%;
    margin-top: 43vw;
    margin-left: 93vw;
}
.strelka_up{
    width: 2.5vw;
    height: 2.5vw;
}
.section1{
    background-image: url(Rectangle\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    height: 40vw;
    justify-content: flex-end;
    align-items: center;
}
.x14{
    display: flex;
    flex-direction: column;
    height: 40vw;
    width: 40%;
    align-items: center;
    justify-content: center;
}
.x14text{
    font-size: clamp(0.75rem, 4vw, 4.5vw);
    font-family: "Inter", sans-serif;
}
.leica{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4%;
}
.log-leica{
    height: 3vw;
    width: 3vw;
}
.text-leica{
    font-size: clamp(0.45rem, 1.5vw, 2vw);
    font-family: "Inter", sans-serif;
}
.legend{
    font-family: "Inter", sans-serif;
    font-size: clamp(0.60rem, 3vw, 3.5vw);
}
.text1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.by{
    color: white;
    font-family: "Inter", sans-serif;
}
.by-x14{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(81, 81, 81);
    height: 3vw;
    width: 10vw;
    border-radius: 1rem;
    font-size: clamp(0.25rem, 1.5vw, 2vw);
    font-weight: bold;
    transition: transform 0.001s ease-in-out;
    box-shadow: 0 0 0.3rem black;
}
.by-x14:hover{
    transform: scale(1.05);
    box-shadow: 0 0 0.5rem black;
}
.by-x14:active{
    transform: scale(90%);
    box-shadow: 0 0 0.1rem black;
}
.section2{
    background-color: #989898;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Galary{
    font-family: "Inter", sans-serif;
    font-size: clamp(0.75rem, 3vw, 3.5vw);
}
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    display: flex;
    background-color: white;
    width: 18vw;
    height: 18vw;
    color: black;
    margin: 20px;
    border: 0.2rem solid white;
    border-radius: 1vw;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 1rem black;
    
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 1rem black;
}
.card:active{
    transform: scale(90%);
    box-shadow: 0 0 0.5rem black;
}
.cardimg{
    width: 100%;
    height: 100%;
    border-radius: 1vw;
}
footer{
    background-color: #4b4b4b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vw;
}
.menu_h3{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: clamp(0.15rem, 1vw, 1vw);
}
.menu_ul{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: clamp(0.15rem, 1vw, 1vw);
    list-style: none;
    text-align: left;
    
}
.menu_li{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: clamp(0.15rem, 1vw, 1vw);
    transition: transform 0.25s ease-in-out;
}
.menu_li:hover{
    transform: scale(115%);
    color: orange;
}
.menu4{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: vw;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
}
.messenger{
    height: 2vw;
    width: 2vw;
    margin: 0.5vw;
    transition: transform 0.1ms ease;
}
.messenger:hover{
    transform: scale(120%);
    color: #FBFFFF;
}
